<p>This is the asset-add view.</p>
<form role="form">
  <div class="form-group">
    <label for="title" class="control-label">Name</label>
    <input type="text" ng-model="asset.name" class="form-control" id="title" placeholder="Enter the asset name"/>
  </div>
  <div class="form-group">
    <label for="title" class="control-label">ID</label>
    <input type="text" ng-model="asset.itemid" class="form-control" id="title" placeholder="Enter the ItemId"/>
  </div>
  <div class="form-group">
    <label for="url" class="control-label">URL</label>
    <input type="text" ng-model="asset.url" class="form-control" id="title" placeholder="Enter  URL"/>
  </div>
  <input type="submit" class="btn btn-primary" ng-click="saveAsset()" value="Save"/>
</form>
